@import '~leaflet/dist/leaflet.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  #mapid {

    height: 100px;
    width: 100px;
  }


  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
  
  .legend {
    text-align: left;
    line-height: 18px;
    color: #555;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
  
  #kategori{
    text-align: center;
    text-align-last: center;
    z-index: 1;
    position: absolute;
    top: 0;
    height: 30px;
    width:100%;
  }

  #container {
    margin-top: 30px;
    height: -moz-calc(100vh - (30px));
    height: -webkit-calc(100vh - (30px));
    height: calc(100vh - (30px));
    width: 100vw;
  }

 